@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-on-primary-container: #708ab5;
  --color-on-tertiary-fixed: #221b00;
  --color-on-background: #1a1c1c;
  --color-on-primary-fixed: #001b3d;
  --color-on-secondary-container: #603100;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-secondary-container: #fd8b00;
  --color-on-error: #ffffff;
  --color-on-primary-fixed-variant: #2d476f;
  --color-secondary-fixed-dim: #ffb77d;
  --color-inverse-surface: #2f3131;
  --color-primary-container: #002147;
  --color-surface-container: #eeeeee;
  --color-primary-fixed: #d6e3ff;
  --color-error-container: #ffdad6;
  --color-surface-bright: #f9f9f9;
  --color-surface-container-highest: #e2e2e2;
  --color-inverse-primary: #aec7f6;
  --color-error: #ba1a1a;
  --color-tertiary-fixed: #ffe16d;
  --color-outline: #74777f;
  --color-tertiary: #705d00;
  --color-on-secondary-fixed: #2f1500;
  --color-tertiary-container: #c9a900;
  --color-on-tertiary-fixed-variant: #544600;
  --color-surface-container-high: #e8e8e8;
  --color-on-tertiary: #ffffff;
  --color-on-primary: #ffffff;
  --color-on-surface-variant: #44474e;
  --color-surface-container-low: #f3f3f3;
  --color-primary: #000a1e;
  --color-on-secondary-fixed-variant: #6e3900;
  --color-on-secondary: #ffffff;
  --color-surface-variant: #e2e2e2;
  --color-outline-variant: #c4c6cf;
  --color-secondary: #904d00;
  --color-surface-dim: #dadada;
  --color-on-error-container: #93000a;
  --color-surface-tint: #465f88;
  --color-surface: #f9f9f9;
  --color-on-tertiary-container: #4c3f00;
  --color-secondary-fixed: #ffdcc3;
  --color-inverse-on-surface: #f1f1f1;
  --color-primary-fixed-dim: #aec7f6;
  --color-tertiary-fixed-dim: #e9c400;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-background font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
